[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alone"]
	path = alone
	url = https://github.com/doehm/alone
[submodule "cropcircles"]
	path = cropcircles
	url = https://github.com/doehm/cropcircles
[submodule "survivoR"]
	path = survivoR
	url = https://github.com/doehm/survivor
