[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "survivoR"]
	path = survivoR
	url = https://github.com/doehm/survivor
	shallow = true
	registered = true
